.body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #babaff;
    text-align: center;
    margin-left: 125px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#jumbotron{
    background-color: #8181ec;

}

.jumbotron {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5px;
    padding-left: 5px;
    border-radius: 1.25rem;
    width: fit-content;
    background-color: #8181ec;
    margin-bottom: 30px;
}

header {
    background-color: grey;
    height: 65px;
    width: 200px;
    text-align: center;
    padding-top: 22px;
    background-color: white;
    border-radius: 1.25rem;
    margin-bottom: 5px;
}

.nav-tabs {
    border-bottom: 1px solid #ddd;
    background-color: lightgrey;
    border-radius: 1.25rem;
}

#headerTabs{
    float: left;
    margin-left: 250px;
   

}

p {
    margin: 0 0 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: lightgrey;
    padding: 15px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: #8181ec;
    margin-bottom: 5px;
    margin-top: 5px;
}



#overview{
background-color: lightgrey;
}

#langChart{
background-color: lightgray; 

}

#comparisons{
background-color: lightgray;

}

#sentiment{
background-color: lightgrey;

}

#card{
padding: 20px;
background-color: gray;
}