.body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    background-color: #babaff;
    text-align: center;
    margin-left: 125px;
    margin-top: 20px;
    margin-bottom: 20px;
}

#jumbotron{
    background-color: #8181ec;
    width: 500px;
    margin-left: 200px;

}

.jumbotron {
    border-radius: 1.25rem;
    margin-bottom: 30px;
    background-color: #8181ec;
    width: 500px;
    margin-left: 200px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 50px;
}


header {
    height: 270px;
    width: 400px;
    padding-top: 10px;
    background-color: white;
    border-radius: 1.25rem;
    margin-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
}

#logo{
    width: 325px;
    height: 230px;
    border-radius: 1.25rem;

}

.nav-tabs {
    border-bottom: 1px solid #ddd;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: rgb(221, 221, 221);
    background-color: lightgrey;
    border-radius: 1.25rem;
}

#nav {
    padding-left: 10px;
    width: 250px;
    height: 50px;
    margin-left: 310px;
    padding-top: 3px;
    padding-left: 10px;
    margin-bottom: 0;
    list-style: none;
    background-color: #8181ec;
    -webkit-text-fill-color: #333;
}

#headerTabs{
    float: left;
    margin-left: 250px;
}

p {
    margin: 0 0 10px;
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: lightgrey;
    padding: 15px;
}

.table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: #8181ec;
    margin-bottom: 5px;
    margin-top: 5px;
}

#carousel-results{
    height: 500px;
    width: 750px;
    background-color: lightslategrey;
    margin-bottom: 50px;   
}

#overview{
height:250px;
width: 250px;
}
#difficulty{
    height:250px;
    width: 250px;
}
#sentiment{
    height:250px;
    width: 250px;
}
#comparisons{
    height:250px;
    width: 250px;
}